.technology-logo {
    height: 3em;
}

.technology-text {
    width: 100%;
    text-align: center;
}

.logo-container {
    padding: 1em;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    justify-items: center;
    justify-self: center;
}

.grid .item {
    width: 100%;
    height: 100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.grid .item:hover {
    background: #dbdbdb;
}

@media (width <= 800px) {
  .grid {    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    justify-items: center;
    justify-self: center;
  }
}
