.weeks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1em, 1fr));
    gap: 0.1em;
}

.week {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 1em;
}

.lived {
    background-color: dimgrey;
}

.toLive {
    background-color: greenyellow;
}