.website-title {
  padding-top: 1em;
}

.website-title h1 {
  padding-left: 1em;
  margin: 0em;
  text-align: left;
  color: #eee;
  font-size: 3em;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  padding: .5em;
  padding-bottom: 1em;
  background-color: #042069;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.nav-item {
    height: 100%;
    font-weight: bold;
    font-size: 1.2em;
    color: #eee;
    margin-right: 1em;
}

.nav-item:hover {
  color: darkgoldenrod;
}

.nav-item a {
  all: unset;
  cursor: pointer;
}