.album-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5em;
}

.photo-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.photo {
    width: auto;
    height: 20em;
}


