<div class="page-container shadowed outlined" [ngClass]="{'page-container-handset': handsetData.isHandset()}">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col">
            <h1 class="subtitle">Contact</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
                <ul>
                    <li class="normal-text">Email: <a href="mailto:heinermongelopez@gmail.com">heinermongelopez@gmail.com</a></li>
                    <li class="normal-text">Github: <a href="https://github.com/HeinerMo" target="_blank">https://github.com/HeinerMo</a></li>
                    <li class="normal-text">Linkedin: <a href="https://www.linkedin.com/in/heinermo/" target="_blank">https://www.linkedin.com/in/heinermo/</a></li>
                </ul>
        </div>
    </div>
</div>