.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1em;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5em;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    height: 30vh; /* Example using viewport height */
    object-fit: cover;
}

.modal-body img {
    width: 100%;
    height: auto;
}
