<div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col">
            <h1 class="subtitle">About me</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>I'm a Junior Software Engineer currently studying at <a href="https://www.ucr.ac.cr/"
                    target="_blank">University of Costa Rica</a> getting a
                bachelors degree in Business Oriented Computer Science. I enjoy working with code, hardware and the
                process of problem solving.
                <br>
                I can work with tight deadlines and under pressure. I feel comfortable working under Linux or Windows,
                but I do have a preference towards Linux, mostly because is lighter and the terminal makes things faster.
                <br>
                As part of my university career courses I have used many technologies such as:
                </p>
                <ul>
                    <li>Verilog for FPGA Programming</li>
                    <li>JavaScript</li>
                    <li>PHP</li>
                    <li>C++</li>
                    <li>C</li>
                    <li>C#</li>
                    <li>Python</li>
                    <li>Angular</li>
                    <li>Bash</li>
                    <li>Cisco Networking Essentials</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Arduino</li>
                </ul>
        </div> 
    </div>
</div>