.basic-list {
  flex-wrap: wrap;
  display: flex;
}

.basic-list li {
  flex: 1 0 33%;
}

/*
  CSS for handset
*/

.basic-list-handset {
  flex-wrap: wrap;
  display: flex;
}

.basic-list-handset li {
  flex: 1 0 100%;
}