<app-p5background></app-p5background>
<div class="page-container shadowed outlined" [ngClass]="{'page-container-handset': handsetData.isHandset()}">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col">
            <h1 class="subtitle">About me</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>I'm a Software Engineer currently studying at <a href="https://www.ucr.ac.cr/"
                    target="_blank">University of Costa Rica</a> getting a
                bachelors degree in Business Oriented Computer Science. I enjoy working with code, hardware and the
                process of problem solving.
                <br>
                As part of my university career I have used many technologies such as:
                </p>
                <ul class="basic-list normal-text" [ngClass]="{'basic-list-handset': handsetData.isHandset()}">
                    <li>Verilog for FPGA Programming</li>
                    <li>JavaScript</li>
                    <li>PHP</li>
                    <li>C++</li>
                    <li>C</li>
                    <li>C#</li>
                    <li>Python</li>
                    <li>Angular</li>
                    <li>Bash</li>
                    <li>Cisco Networking Essentials</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Arduino</li>
                </ul>
        </div> 
    </div>

    <div class="row">
        <div class="col">
            <h1 class="subtitle">Certifications</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
                <ul class="normal-text" [ngClass]="{'basic-list-handset': handsetData.isHandset()}">
                    <li>Scrum Fundamentals.</li>
                    <li>English- Level: C1 BELT English, Idioma Internacional, March 2023</li>
                </ul>
        </div> 
    </div>
</div>