/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

h1 {
    color: #333;
    text-align: center;
}

h2, h3 {
    color: #333;
}

p, .normal-text {
    color: #555;
    text-indent: 2em;
    font-size: large;
}