.nav-container {
    margin-top: 1em;
}

.nav-Ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    justify-items: center;
    justify-self: center;
    width: 100%;
}

.nav-button {
    width: 100%;
    min-width: 4em;
}

a {
    all: unset
}

/*
    basic navigation buttons
*/
.navigation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    height: 100%;
    font-size: large;
    font-weight: 1000;
    -webkit-transition: transform 0.1s ease-in-out;
    -moz-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
}

.navigation-button:hover {

    -webkit-transition: transform 0.1s ease-in-out;
    -moz-transition: transform 0.1s ease-in-out;
    -ms-transition: transform 0.1s ease-in-out;

    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.navigation-button:active {
    background-color: #ffea82;
}