/*
    CSS for desktop
*/

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    min-height: 100vh;
    height: 100%;
    width: fit-content;
    background-color: #201C3B;
    overflow-y: auto;
    box-sizing: border-box;
}

/*
    basic navigation buttons
*/
.navigation-button {
    display: flex;
    font-size: large;
    font-weight: 1000;
    padding: 1em;;
    background-color: #201C3B;
    color: #FFF;
    width: 100%;
}

.navigation-button:hover {
    background-color: rgba(76, 71, 97);
    color: #FFF;
}

.navigation-button:active {
    background-color: rgba(0, 0, 0, 0.4);
}


/*
    CSS for handset
*/
.nav-handset-container {
    position: fixed;
    top: 0;
    left: 0;
}

.nav-menu {
    position: fixed;
    display: flex;
    justify-content: center;
    border-radius: 0%;
    top: 20%;
    left: -100%;
    width: 100%;
    transition: left 0.2s ease-in-out;
}

.nav-menu-enabled {
    left: 0%;
    transition: left 0.2s ease-in-out;
}

.nav-items {
    display: block;
    align-items: center;
}

.nav-toggle-container {
    display: flex;
    z-index: 1;
}

.nav-toggle {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 1.5em;
    top: 1.5em;
    opacity: 1;
    color: white;
    font-weight: 800;
}

.toggle-text-active {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #201C3B;
    opacity: 1;
    width: 4em;
    height: 4em;
    transition: opacity 0.2s ease-in-out;
}

.toggle-text-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    width: 4em;
    height: 4em;
    transition: opacity 0.2s ease-in-out;
}

.navigation-button-handset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: large;
    font-weight: 1000;
    padding: 1em;
    background-color: #201C3B;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #FFF;
}

.navigation-button-handset:active {
    background-color: #4C4761;
}


/*Remove the backdrop from the page*/
.backdrop {
    position: fixed;
    left: -100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    /*In smartphones the URL bar hides once the user stars scrolling down leaving a space under the background blur,
    setting height = 120% ensures that doesn't happen*/
    height: 120%;
    backdrop-filter: blur(10px);
    background-color: #201C3B50;
    z-index: -1;
    transition: left 0.2s ease-in-out;
}

/*Move the backdrop over the page to show buttons on top.*/
.backdrop-enabled {
    left: 0%;
    transition: left 0.2s ease-in-out;
}