<nav class="container-fluid">
    <!--TODO collapse navbar-->
    <div class="nav-Items navbar-collapse center-content">
        <ul class="nav-Ul">
            <li class="nav-Li outlined normal-text" routerLink="/app-home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</li>
            <li class="nav-Li outlined normal-text" routerLink="/app-about" routerLinkActive="active" ariaCurrentWhenActive="page">About</li>
            <li class="nav-Li outlined normal-text" routerLink="/app-projects" routerLinkActive="active" ariaCurrentWhenActive="page">Projects</li>
            <li class="nav-Li outlined normal-text" routerLink="/app-home" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</li>
        </ul>
    </div>
</nav>