<nav class="nav-container">
    <div *ngIf="!handsetData.isHandset()">
        <ul class="nav-Ul">
            <li class="nav-button navigation-button outlined shadowed-small" routerLink="/app-home"
                routerLinkActive="active" ariaCurrentWhenActive="page">Home</li>
            <li class="nav-button navigation-button outlined shadowed-small" routerLink="/app-about"
                routerLinkActive="active" ariaCurrentWhenActive="page">About</li>
            <li class="nav-button navigation-button outlined shadowed-small" routerLink="/app-projects"
                routerLinkActive="active" ariaCurrentWhenActive="page">Projects</li>
            <li class="nav-button navigation-button outlined shadowed-small" routerLink="/app-contact"
                routerLinkActive="active" ariaCurrentWhenActive="page">Contact</li>
        </ul>
    </div>


    <div *ngIf="handsetData.isHandset()">
        <ul class="nav-Ul-handset">
            <li class="nav-button-handset outlined shadowed-small" routerLink="/app-home"
                routerLinkActive="active" ariaCurrentWhenActive="page">Home</li>
            <li class="nav-button-handset outlined shadowed-small" routerLink="/app-about"
                routerLinkActive="active" ariaCurrentWhenActive="page">About</li>
            <li class="nav-button-handset outlined shadowed-small" routerLink="/app-projects"
                routerLinkActive="active" ariaCurrentWhenActive="page">Projects</li>
            <li class="nav-button-handset outlined shadowed-small" routerLink="/app-contact"
                routerLinkActive="active" ariaCurrentWhenActive="page">Contact</li>
        </ul>
    </div>
</nav>