.nav-container {
    margin-top: 1em;
}

.nav-Ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    justify-items: center;
    justify-self: center;
    width: 100%;
}

.nav-button {
    width: 100%;
    min-width: 4em;
}

a {
    all: unset
}