<h1>{{this.title}}</h1>
<div class="row">
    <div class="col">
        <ul>
            <li class="no-indent-text">Email: <a href="mailto:heinermongelopez@gmail.com">heinermongelopez@gmail.com</a>
            </li>
            <li class="no-indent-text">Github: <a href="https://github.com/HeinerMo"
                    target="_blank">https://github.com/HeinerMo</a></li>
            <li class="no-indent-text">Linkedin: <a href="https://www.linkedin.com/in/heinermo/"
                    target="_blank">https://www.linkedin.com/in/heinermo/</a></li>
            <li class="no-indent-text">Instagram: <a href="https://www.instagram.com/heiner_mo/"
                    target="_blank">https://www.instagram.com/heiner_mo/</a></li>
        </ul>
    </div>
</div>
