*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    width: 50%;
}

.line {
    height: 3px;
    background-color: black;
    margin-top: 1em;
    margin-bottom: 1em;
}

.profile {
    margin-top: 2em;
    margin-bottom: 1em;
    width: 20%;
}


.technology-logo {
    margin: 1em;
    width: 50%;
}

.logo-container {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.grid .item {
    padding: 1em;
    width: 80%;
    height: 100%;
}