<div class="page-container" [ngClass]="{'page-container-handset': handsetData.isHandset()}">
    <app-navbar></app-navbar>

    <div class="page-content">
        <div class="row">
            <div class="col">
                <h1 class="subtitle">Hello, I'm Heiner!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="normal-text">
                    I'm a software engineer, photographer and generally a nerd. The only thing I love more than learning
                    is learning by doing. This site contains some of the things I like. Feel free to look around!
                </p>
            </div>
        </div>
    </div>
</div>