<div class="container-fluid">
    <app-navbar></app-navbar>

    <div class="row">
        <div class="col">
            <h1 class="subtitle">Heiner Monge L.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Android Developer</h3>
            <div class="picture-container">
                <img class="profile outlined shadowed-small" src="/assets/img/me.png" alt="image">
            </div>
            <p>
                "I can do a Hello world in Turbo-Pascal"
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="line"></div>
            <h3>What I do</h3>
        </div>
    </div>
    <div class="row">
        <div class="col outlined technology shadowed-small">
            <div class="center-content">
                <img class="technology-logo" src="/assets/img/android_logo.png" alt="Android Logo">
            </div>
            <p class="center-content">Android Development with Android Studio and Java.</p>
        </div>

        <div class="col outlined technology shadowed-small">
            <div class="center-content">
                <img class="technology-logo" src="/assets/img/java_logo.png" alt="Java Logo">
            </div>
            <p class="center-content">Java Standalone Applications.</p>
        </div>

        <div class="col outlined technology shadowed-small">
            <div class="center-content">
                <img class="technology-logo" src="/assets/img/sql_server_logo.png" alt="SQL Server Logo">
            </div>
            <p class="center-content">SQL Server: Database Design and SQL Programming.</p>
        </div>

        <div class="col outlined technology shadowed-small">
            <div class="center-content">
                <img class="technology-logo" src="" alt="Logo">
            </div>
            <p class="center-content">Python</p>
        </div>
    </div>

    <div class="row">
        <div class="col outlined technology shadowed-small">
            <div class="center-content">
                <img class="technology-logo" src="" alt="Logo">
            </div>
            <p class="center-content">Angular</p>
        </div>

        <div class="col outlined technology shadowed-small">
            <div class="center-content">
                <img class="technology-logo" src="" alt="Logo">
            </div>
            <p class="center-content">Linux</p>
        </div>

        <div class="col outlined technology shadowed-small">
            <div class="center-content">
                <img class="technology-logo" src="" alt="Logo">
            </div>
            <p class="center-content">Arduino</p>
        </div>

        <div class="col outlined technology shadowed-small">
            <div class="center-content">
                <img class="technology-logo" src="" alt="Logo">
            </div>
            <p class="center-content">Verilog</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="line"></div>
            <h3>What I'm learning</h3>
        </div>
    </div>

    <div class="row">
        <div class="col outlined technology shadowed-small">
            <div class="center-content">
                <img class="technology-logo" src="" alt="Logo">
            </div>
            <p class="center-content">Kotlin</p>
        </div>

        <div class="col outlined technology shadowed-small">
            <div class="center-content">
                <img class="technology-logo" src="" alt="Logo">
            </div>
            <p class="center-content">Spring</p>
        </div>

        <div class="col outlined technology shadowed-small">
            <div class="center-content">
                <img class="technology-logo" src="" alt="Logo">
            </div>
            <p class="center-content">Django</p>
        </div>

        <div class="col outlined technology shadowed-small">
            <div class="center-content">
                <img class="technology-logo" src="" alt="Logo">
            </div>
            <p class="center-content">Verilog</p>
        </div>
    </div>

</div>