*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    width: 50%;
}

.line {
    height: 3px;
    background-color: black;
    margin-top: 1em;
    margin-bottom: 1em;
}

.profile {
    margin-top: 2em;
    margin-bottom: 1em;
    width: 20%;
}

.technology-logo {
    height: 3em;
}

.technology-text {
    width: 100%;
    text-align: center;
}

.logo-container {
    width: 100%;
    padding: 1em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    justify-items: center;
    justify-self: center;
}

.grid .item {
    width: 80%;
    height: 100%;
    padding: 1em;
}
.title {
    text-align: center;
}