.text-indent {
    text-indent: 4em;
}

.line {
    height: 3px;
    background-color: black;
    margin-top: 1em;
    margin-bottom: 1em;
}

.profile {
    width: 50%;
}

.name {
    font-size: 40pt;
}

.name-holder {
    display: flex;
    justify-content: center;
    width: 100%;
}

.technology-logo {
    height: 3em;
}

.technology-text {
    width: 100%;
    text-align: center;
}

.logo-container {
    width: 100%;
    padding: 1em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    justify-items: center;
    justify-self: center;
}

.grid .item {
    width: 80%;
    height: 100%;
    padding: 1em;
}

.title {
    text-align: center;
}

.basic-list {
    flex-wrap: wrap;
    display: flex;
}

.basic-list li {
    flex: 1 0 33%;
}


/*
    CSS for handset
*/

.profile-handset {
    margin-top: 2em;
    margin-bottom: 1em;
    width: 50%;
}

.grid-handset {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    justify-items: center;
    justify-self: center;
}

.basic-list-handset {
    flex-wrap: wrap;
    display: flex;
}

.basic-list-handset li {
    flex: 1 0 100%;
}