<div class="container-fluid">
    <app-navbar></app-navbar>

    <div class="row">
        <div class="col">
            <h1 class="subtitle">Heiner Monge L.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="picture-container center-content">
                <img class="profile outlined shadowed-small" src="assets/img/me.png" alt="image">
            </div>
            <h3 class="title">Junior Android Developer</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="line"></div>
            <h3>What I do</h3>
        </div>
    </div> 

    <div class="row">
        <div class="grid">
            <div class="item outlined shadowed-small" *ngFor="let tech of this.technologies">
                <div class="logo-container center-content">
                    <img class="technology-logo" src="{{tech.logoPath}}">
                </div>
                <div class="text-container center-content">
                    <p class="technology-text center-content">{{tech.text}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="line"></div>
            <h3>What I'm learning</h3>
        </div>
    </div>

    <div class="row">
        <div class="grid">
            <div class="item outlined shadowed-small" *ngFor="let tech of this.learning">
                <div class="logo-container center-content">
                    <img class="technology-logo" src="{{tech.logoPath}}">
                </div>
                <div class="text-container center-content">
                    <p class="technology-text center-content">{{tech.text}}</p>
                </div>
            </div>
        </div>
    </div>

</div>