<div class="container">
    <app-navbar></app-navbar>
    <div class="row">
        <div class="col">
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
            <div class="project-container">
                <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, voluptatem dicta culpa sed iste
                    consequuntur impedit facere temporibus quas nemo consequatur possimus. Blanditiis laborum fugiat
                    mollitia et omnis reiciendis quae.</p>
            </div>
        </div>
    </div>
</div>