.project-container {
    padding: 1em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 2em;
}

.project-thumbnail-container {
    width: 20%;
}

.project-thumbnail {
    width: 100%;
}

.project-description {
    margin: 1em;
}

a {
    all:unset;
    width: 100%;
}

.project-info {
    width: 100%;
    margin: 1em;
}

/*
    basic navigation buttons
*/
.navigation-button {
    -webkit-transition: transform 0.1s ease-in-out;
    -moz-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
}

.navigation-button:hover {

    -webkit-transition: transform 0.1s ease-in-out;
    -moz-transition: transform 0.1s ease-in-out;
    -ms-transition: transform 0.1s ease-in-out;

    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.navigation-button:active {
    background-color: #ffea82;
}

/*
    CSS for handset
*/

.project-container-handset {
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    display: block;
}

.project-thumbnail-container-handset {
    width: 50%;
    margin: 0 auto;
}

.project-thumbnail-handset {
    width: 100%;
    margin: 0 auto;
}
