.website-title {
  padding-top: 1em;
}

.website-title h1 {
  padding-left: 1em;
  margin: 0em;
  text-align: left;
}

.navbar-background {
  background-color: #666;
}

.navbar-container {
  display: flex;
  padding: .5em;
  padding-bottom: 1em;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding-top: 0;
  padding-bottom: 0;
}

.active-link {
  color: rgb(200, 130, 10) !important;
}

.nav-link {
  color: red;
}

.nav-item {
  color: black;
  height: 100%;
  font-weight: bold;
}

.language-button {
  border-radius: 1px;
  outline: solid 2px;
  height: fit-content;
  width: fit-content;
  font-weight: bold;
  margin-right: 1em;
}

.navbar-toggler {
  margin: .5em;
}
