@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    background: linear-gradient(40deg, rgb(10, 11, 27) 0%, rgb(17, 0, 27) 100%); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.center-content {
    display: flex;
    justify-content: center;
}