@import '~bootstrap/dist/css/bootstrap.min.css';
html {
    min-height: 100%;
}

body {
    background: #fefae5; 
    padding: 0;
    margin: 5%;
    min-height: 100%;
}

.shadowed {
    box-shadow: -2em 2em #10162f;
}

.outlined {
    border: 2px solid #10162f;
}

.center-content {
    display: flex;
    justify-content: center;
}

.normal-text {
    color: #10162f;
}

p, h1, h2, h3 {
    color: #10162f;
}

