@import '~bootstrap/dist/css/bootstrap.min.css';

html { 
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
}

a {
    color: rgb(240, 156, 0);
}

a:hover {
    color: rgb(236, 231, 220);
}

.page-container {
    width: 90%;
    padding: 1em;
    margin: 0 auto;
    margin-top: 1em;
}

body {
    background-color: transparent;
    width: 100%;
    margin-bottom: 2em;
}

.center-content {
    display: flex;
    justify-content: center;
}

.centered-vertically {
    display: flex;
    align-items: center;
}

.left-content {
    display: flex;
    justify-content: left;
}

.right-content {
    display: flex;
    justify-content: right;
}

.normal-text {
    color: #ffffff;
    font-size: 14pt;
}

.default-radius {
    border-radius: 5px;
}

p, h1, h2, h3 {
    color: #ffffff;
}

/*
    Subtitles appear under and to the left of the navbar, representing the name of
    any given subcategory.
*/
.subtitle {
    color: #ffffff;
    width: fit-content;
    padding: 0.5em;
    font-size: 40pt;
}

/*
    CSS for handset
*/
.page-container-handset {
    width: 95%;
    margin: 0 auto;
    margin-top: 1em;
}